@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/second-screen-header.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/friends.css";
@import "screens/login.css";
@import "screens/never.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
